.checkboxBtn {
  cursor: pointer;
  user-select: none;
}

.checkboxBtnInput {
  display: none;
}

.checkboxBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 17px 40px;
  width: 112px;
  height: 95px;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);
  border: 1px solid rgba(16, 24, 40, 0.2);
}

.checkboxBtnInput:checked + .checkboxBtnBox {
  border: 1px solid var(--button);
}
.icon {
  fill: transparent;
}
