.label {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: rgba(16, 24, 40, 0.6);
  margin-bottom: 8px;
}
.wrapper {
  position: relative;
}
.icon {
  fill: transparent;
  stroke: var(--main);
  position: absolute;
  top: 18px;
  left: 18px;
}
.input {
  border-radius: 10px;
  padding: 18px;
  padding-left: 46px;
  width: 100%;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  background: var(--inputs);
  outline: none;
  border: none;
}
