.modal {
  position: relative;
  width: 982px;
  min-height: 100vh;
  padding: 40px;
}
.iconClose {
  stroke: var(--main);
  transition: stroke 0.3s ease-in-out;
}
.closeButton:hover .iconClose {
  stroke: var(--button);
}

.closeButton {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
