.nav {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}
.list {
  display: flex;
  align-items: center;
}
.item {
  padding: 24px;
  color: var(--button);
}
.link {
  color: inherit;
}
