.input {
  border-radius: 10px;
  padding: 18px;
  min-width: fit-content;
  background: var(--inputs);
  border: none;
  outline: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}
