:root {
  --button: #e44848;
  --button-hover: #d84343;
  --main: #101828;
  --inputs: #f7f7f7;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --text: #475467;
  --background: #fff;
  --font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  color: var(--text);
}
/* begin of reset */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--main-color);
  font-weight: var(--font-bold);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* end of reset */

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}
